<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">
    <select id="selectPost" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select *
        from board
        where boardNo = #{boardNo}
    </select>

    <select id="selectPosts" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select boardNo, parentsBoardNo, B.memNo, boardDepth, boardLevelNo, boardTitle,
               boardContext, boardRegisterDateTime, boardModifyDateTime, boardCommentCount,
               boardViewCount, boardDeleteCheck, M.memId
        from board B
        inner join mem M on B.memNo = M.memNo
    </select>

    <insert id="registerPost">
        insert into board(boardNo, parentsBoardNo, memNo, boardDepth, boardLevelNo, boardTitle,
                          boardContext, boardRegisterDateTime, boardModifyDateTime, boardCommentCount,
                          boardViewCount, boardDeleteCheck)
        values (#{boardNo}, #{parentsBoardNo}, #{memNo}, #{boardDepth}, #{boardLevelNo}, #{boardTitle},
                #{boardContext}, #{boardRegisterDateTime}, #{boardModifyDateTime}, #{boardCommentCount},
                #{boardViewCount}, #{boardDeleteCheck})
    </insert>

    <update id="updateContextByNo">
        update board set boardContext= #{boardContext}, boardTitle = #{boardTitle}
        where memNo = #{memNo} and boardRegisterDateTime = #{boardRegisterDateTime} and boardTitle = #{boardTitle}
    </update>

    <delete id="deleteByNo">
        delete from board where boardNo=#{boardNo}
    </delete>

    <select id="selectPostWriter" resultType="com.nhnacademy.jdbc.board.member.domain.Member">
        select M.memId from board B inner join mem M on B.memNo = M.memNo
        where B.boardNo = ${boardNo}
    </select>

<!--    <select id="selectPostWriters" resultType="com.nhnacademy.jdbc.board.member.domain.Member">-->
<!--        select M.memId from board B inner join mem M on B.memNo = M.memNo-->
<!--    </select>-->
</mapper>
