<!DOCTYPE html>
<html>
<head>
    <title>목록</title>
</head>
<body>
<br>
<table>
    <th>
    <td>게시글번호</td>
    <td>작성자</td>
    <td>제목</td>
    <td>내용</td>
    <td>작성시간</td>
    </th>
    <c:forEach var="list" items="${postDataLoad.getPosts()}">
        <tr>
            <td><span th:text="${list.getId()}"/></td>
            <td><span th:text="${list.getWriterUserId()}"/></td>
            <td><span th:text="${list.getTitle()}"/></td>
            <td><span th:text="${list.getContent()}"/></td>
            <td><span th:text="${list.getWriteTime()}"/></td>
        </tr>
    </c:forEach>
</table>
<br />

<a href="postPage">게시판메뉴페이지</a>
</body>
</html>