<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>목록</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>게시글번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>작성시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.boardNo}"/>
        <td th:text="${post.memId}"/>z
        <td><a th:href="@{|/contextPost/${post.boardNo}|}"> <span th:text="${post.BoardTitle}"></span></a></td>
<!--        <td><a th:href="@{|/modifyComment/${comment.commentNo}|}"> 댓글 수정 </a><br></td> 아영님 코드 추가-->
        <td th:text="${post.BoardRegisterDatetime}"/>

        <!--        <td th:text="${post.BoardTitle}"><a href="/contextPost"></a></td>-->
        <!--        <td><a th:href="@{/modifyComment/${comment.id}"> </a></td>-->
        <!--        <a th:href="@{|/postModify/${post.postNum|}"-->

    </tr>
    </tbody>
</table>

<a th:href="@{|/postPage|}">게시판메뉴페이지</a>
</body>
</html>