<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="jumbotron" style="padding-top: 20px;">
            <form method="post" action="/removePost.do">
                <h3 style="text-align: center;">게시글삭제화면</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="아이디" name="id" maxlenth="20">
                </div>
                <input type="submit" class="btn btn-primary form-control"삭제>
            </form>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
<a href="postPage.html">게시판메뉴페이지</a>
</body>
</html>
